/* Global classes */
body {
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
}


#screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
}

.head-bar {
	font-family: sans-serif;
	background-color: fuchsia;
	color: white;
	height: 45px;
	text-shadow: 2px 2px black;
	text-align: center;
}

.back-button {
	background-color: beige;
	border: 2px solid #eeeeef;
	position: relative;
	left: 10px;
	top: 10px;
	width: 30px;
	text-shadow: none;
	text-align: center;
}

.albums-album-wrapper {
	width: 150px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	float: left;
}

.albums-album-art {
	width: 130px;
}

.albums-album-name {
	font-weight: bold;
	margin-top: 10px;
	font-size: 18px;
}

.albums-artist-name {
	font-style: italic;
}

a {
	text-decoration: none;
	color: black;
}
